* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

header h3{
  text-align: center;
  color: hsl(31, 77%, 52%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 25px;
  background-color: hsl(0, 0%, 95%);
}

header h3 a{
  text-align: center;
  color: hsl(31, 77%, 52%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 25px;

}

main {
  background-color: hsl(0, 0%, 95%);
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 100vh;
  border: 1px;
  border-radius: 10px;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sedan img {
  padding-bottom: 2em;
}

#top {
  padding-bottom: 1em;
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 25px;
}

p {
  padding-bottom: 6em;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: xx-small;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.sedan button {
  border-color: hsl(0, 0%, 95%);
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: hsl(31, 77%, 52%);
}

.sedan button:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}

.suv img {
  padding-bottom: 2em;
}

.suv button {
  border-color: hsl(0, 0%, 95%);
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: hsl(184, 100%, 22%);
}

.suv button:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury img {
  padding-bottom: 2em;
}

.luxury button {
  border-color: hsl(0, 0%, 95%);
  border-radius: 9999px;
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: hsl(179, 100%, 13%);
}

.luxury button:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
  .sedan {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .luxury {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
  }
}
